#dice3d {
  position: absolute;
  width:1024px;
  height:1024px;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);

  visibility: hidden;
  background-image: url(../images/scene.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#gameBox {
  position: absolute;
  top:20px;
  bottom:20px;
  left:20px;
  right:20px;
  background-image: url(../images/back.png);
  // background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  overflow: hidden;
}
