#dice3d {
  position: absolute;
  top:100px;
  bottom:100px;
  left:100px;
  right:100px;
  visibility: hidden;
  background-image: url(../images/content/scene.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
